/* src/styles/auth.css */

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.auth-box h2 {
  margin-bottom: 20px;
  text-align: center;
}

.auth-box input,
.auth-box select {
  width: 100%;
  margin-bottom: 15px;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border-radius: 6px;
}

.auth-box button:hover {
  background: #4338ca;
}