/* src/styles/dashboard.css */

.navbar {
  background: #4f46e5;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

.navbar button {
  background: white;
  color: #4f46e5;
  padding: 5px 10px;
  border-radius: 5px;
}