/* src/styles/global.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f6f9;
  color: #333;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

input, select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

input:focus, select:focus {
  border-color: #4f46e5;
}